<li class="container">
<div class="row">
    <div class="col-1 mt-2 mb-2">
  <img src="assets/images/{{event.affiche}}.jpg" width="60px" height="80px"> 

</div>

<div class="col-2">
   <h2> {{event.eventName}} </h2>
  
  </div>

  <div class="col-3">
    <h2>{{event.eventAddress}}</h2>
  
  </div>

  <div class="col-3">
    <h2>{{event.date}}</h2>
  
  </div>



  <div class="col-2">
    <h2>reservé ou payé </h2>
  
  </div>
  <div class="col-1">
    <h2>{{event.price}}dt</h2>
  
  </div>
</div>
</li>